@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #FFF !important;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
}

section[id] {
  scroll-margin-top: 4rem;
}